<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        h1 {
            color: navy;
        }
        p {
            font-size: 14px;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Hello {{ name }}!</h1>
    <p>Welcome to ACT Web! You are now part of a dynamic community where you can invest and trade assets with ease and efficiency. 
        We are excited to help you achieve your financial goals.</p>
    <p>{{ message }}</p>
    <p>Best regards,<br>ACT-WEB</p>
</body>
</html>
